# **OBJECTIVE**
**Main Goal**
- Analyze pharmaceutical sales data to understand product performance, sales team efficiency, regional demand, and sales channel effectiveness — aiming to improve sales strategies and increase overall revenue.

**Specific Objectives:**
- Identify top-selling product categories
- Evaluate the performance of Sales Representatives and Sales Managers
- Discover high-revenue regions and cities
- Compare the performance of sales channels (Pharmacies, Hospitals, etc.)
- Provide actionable recommendations to boost sales

In [42]:
from google.colab import files
uploaded = files.upload()

Saving pharma-data.csv to pharma-data (2).csv

In [43]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
plt.rcParams["figure.figsize"] = (12, 6)

In [44]:
df = pd.read_csv('pharma-data.csv')
df.head()

,Distributor,Customer Name,City,Country,Latitude,Longitude,Channel,Sub-channel,Product Name,Product Class,Quantity,Price,Sales,Month,Year,Name of Sales Rep,Manager,Sales Team
0,Gottlieb-Cruickshank,"Zieme, Doyle and Kunze",Lublin,Poland,51.23,22.57,Hospital,Private,Topipizole,Mood Stabilizers,4.00,368,"1,472.00",January,2018,Mary Gerrard,Britanny Bold,Delta
1,Gottlieb-Cruickshank,Feest PLC,Świecie,Poland,53.42,18.43,Pharmacy,Retail,Choriotrisin,Antibiotics,7.00,591,"4,137.00",January,2018,Jessica Smith,Britanny Bold,Delta
2,Gottlieb-Cruickshank,Medhurst-Beer Pharmaceutical Limited,Rybnik,Poland,50.08,18.50,Pharmacy,Institution,Acantaine,Antibiotics,30.00,66,"1,980.00",January,2018,Steve Pepple,Tracy Banks,Bravo
3,Gottlieb-Cruickshank,Barton Ltd Pharma Plc,Czeladź,Poland,50.33,19.08,Hospital,Private,Lioletine Refliruvax,Analgesics,6.00,435,"2,610.00",January,2018,Mary Gerrard,Britanny Bold,Delta
4,Gottlieb-Cruickshank,Keeling LLC Pharmacy,Olsztyn,Poland,53.78,20.49,Pharmacy,Retail,Oxymotroban Fexoformin,Analgesics,20.00,458,"9,160.00",January,2018,Anne Wu,Britanny Bold,Delta

In [45]:
df.shape

(254082, 18)

In [46]:
df.info

<bound method DataFrame.info of                    Distributor                               Customer Name  \
0       Gottlieb-Cruickshank                       Zieme, Doyle and Kunze
1       Gottlieb-Cruickshank                                    Feest PLC
2       Gottlieb-Cruickshank          Medhurst-Beer Pharmaceutical Limited
3       Gottlieb-Cruickshank                         Barton Ltd Pharma Plc
4       Gottlieb-Cruickshank                          Keeling LLC Pharmacy
...                        ...                                         ...
254077    Bashirian-Kassulke    Koch, Borer and Hagenes Pharmaceutical Ltd
254078    Bashirian-Kassulke                   Hane Ltd Pharmaceutical Ltd
254079    Bashirian-Kassulke                        Harris-Conroy Pharmacy
254080    Bashirian-Kassulke                        Balistreri Group Pharm
254081    Bashirian-Kassulke                Heathcote, Kovacek and Parker

                 City  Country  Latitude  Longitude   Channel  Sub-channel  \
0              Lublin   Poland     51.23      22.57  Hospital      Private
1             Świecie   Poland     53.42      18.43  Pharmacy       Retail
2              Rybnik   Poland     50.08      18.50  Pharmacy  Institution
3             Czeladź   Poland     50.33      19.08  Hospital      Private
4             Olsztyn   Poland     53.78      20.49  Pharmacy       Retail
...               ...      ...       ...        ...       ...          ...
254077           Lauf  Germany     49.51      11.28  Hospital      Private
254078        Aichach  Germany     48.45      11.13  Hospital      Private
254079  Wilhelmshaven  Germany     53.52       8.13  Pharmacy       Retail
254080      Böblingen  Germany     48.68       9.00  Hospital   Government
254081            Hof  Germany     50.32      11.92  Pharmacy       Retail

                  Product Name     Product Class  Quantity  Price      Sales  \
0                   Topipizole  Mood Stabilizers      4.00    368   1,472.00
1                 Choriotrisin       Antibiotics      7.00    591   4,137.00
2                    Acantaine       Antibiotics     30.00     66   1,980.00
3         Lioletine Refliruvax        Analgesics      6.00    435   2,610.00
4       Oxymotroban Fexoformin        Analgesics     20.00    458   9,160.00
...                        ...               ...       ...    ...        ...
254077              Pentastrin       Antibiotics    919.00    497 456,743.00
254078   Abranatal Lysoprosate       Antiseptics    432.00    681 294,192.00
254079                Adideine  Mood Stabilizers    320.00    678 216,960.00
254080             Feruprazole  Mood Stabilizers    565.00    115  64,975.00
254081             Feruprazole  Mood Stabilizers  1,080.00    115 124,200.00

           Month  Year  Name of Sales Rep          Manager Sales Team
0        January  2018       Mary Gerrard    Britanny Bold      Delta
1        January  2018      Jessica Smith    Britanny Bold      Delta
2        January  2018       Steve Pepple      Tracy Banks      Bravo
3        January  2018       Mary Gerrard    Britanny Bold      Delta
4        January  2018            Anne Wu    Britanny Bold      Delta
...          ...   ...                ...              ...        ...
254077  December  2020  Thompson Crawford   James Goodwill       Alfa
254078  December  2020            Anne Wu    Britanny Bold      Delta
254079  December  2020   Abigail Thompson      Tracy Banks      Bravo
254080  December  2020       Stella Given  Alisha Cordwell    Charlie
254081  December  2020           Alan Ray   James Goodwill       Alfa

[254082 rows x 18 columns]>

In [47]:
df.duplicated().sum()

np.int64(4)

In [48]:
df = df.drop_duplicates()

In [49]:
df.isna().sum()

Distributor          0
Customer Name        0
City                 0
Country              0
Latitude             0
Longitude            0
Channel              0
Sub-channel          0
Product Name         0
Product Class        0
Quantity             0
Price                0
Sales                0
Month                0
Year                 0
Name of Sales Rep    0
Manager              0
Sales Team           0
dtype: int64

In [50]:
df.describe()

        Latitude  Longitude   Quantity      Price         Sales       Year
count 254,078.00 254,078.00 254,078.00 254,078.00    254,078.00 254,078.00
mean       50.96      10.80     112.87     412.21     46,438.41   2,018.39
std         1.63       4.14     744.32     224.96    349,194.54       1.04
min        47.51       6.08  -7,200.00      22.00 -4,161,600.00   2,017.00
25%        49.81       7.89       5.00     195.00      1,704.00   2,018.00
50%        51.13       9.40      20.00     430.00      5,850.00   2,018.00
75%        52.08      12.13      50.00     605.00     21,591.75   2,019.00
max        54.78      23.57 117,600.00     794.00 74,205,600.00   2,020.00

In [51]:
df1 = df.copy

In [57]:
df1 = df[(df['Quantity'] >= 0) & (df['Price'] >= 0)]

In [62]:
df1['calc_amount']= df1['Quantity'] * df1['Price']

/tmp/ipython-input-62-2695203781.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['calc_amount']= df1['Quantity'] * df1['Price']

np.float64(11945457289.195047)

In [63]:
df1['calc_amount'].sum()

np.float64(11945457289.195047)

In [64]:
revenue_by_product = df1.groupby('Product Class')['calc_amount'].sum().sort_values(ascending=False)
pd.set_option('display.float_format', '{:,.2f}'.format)
revenue_by_product

Product Class
Analgesics         2,403,263,030.28
Antiseptics        2,263,031,818.65
Mood Stabilizers   2,079,304,774.64
Antipiretics       1,911,154,411.18
Antibiotics        1,776,080,974.54
Antimalarial       1,512,622,279.91
Name: calc_amount, dtype: float64

In [65]:
top_managers= df1.groupby('Manager')['calc_amount'].sum().sort_values(ascending=False)
top_managers

Manager
Britanny Bold     3,678,610,089.33
Alisha Cordwell   2,858,551,960.55
Tracy Banks       2,786,355,102.94
James Goodwill    2,621,940,136.38
Name: calc_amount, dtype: float64

In [66]:
df[df['Quantity'] < 0]["Manager"].value_counts()

Manager
Britanny Bold      792
James Goodwill     627
Tracy Banks        623
Alisha Cordwell    591
Name: count, dtype: int64

In [67]:
top_sales_reps = df1.groupby('Name of Sales Rep')['calc_amount'].sum().sort_values(ascending=False)
top_sales_reps

Name of Sales Rep
Jimmy Grey          994,943,686.94
Abigail Thompson    990,329,559.86
Sheila Stones       969,481,143.24
Daniel Gates        965,562,042.19
Anne Wu             929,780,655.17
Morris Garcia       909,841,978.50
Stella Given        898,046,231.42
Jessica Smith       893,531,100.00
Steve Pepple        886,183,564.57
Mary Gerrard        885,817,190.91
Thompson Crawford   884,001,321.18
Erica Jones         883,040,869.00
Alan Ray            854,897,946.20
Name: calc_amount, dtype: float64

In [68]:
Top_Selling_Cities = df1.groupby('City')['calc_amount'].sum().sort_values(ascending=False)
Top_Selling_Cities

City
Butzbach     94,967,916.00
Baesweiler   64,914,607.00
Cuxhaven     56,393,178.00
Friedberg    52,311,654.60
Altenburg    50,984,780.00
                  ...
Police        1,993,484.00
Krotoszyn     1,948,473.00
Płock         1,797,876.00
Nowy Targ     1,780,951.00
Szczytno      1,688,872.00
Name: calc_amount, Length: 749, dtype: float64

In [69]:
top_selling_channel = df1.groupby('Channel')['calc_amount'].sum().sort_values(ascending=False)
top_selling_channel

Channel
Pharmacy   6,295,642,618.69
Hospital   5,649,814,670.51
Name: calc_amount, dtype: float64

# **Key insights**
**Top-Selling Products**
- Analgesics are the highest revenue-generating category, followed by Antiseptics and Mood Stabilizers.
- Focus marketing efforts and inventory planning on these categories.

**Sales Representatives Performance**

- The top Sales Reps significantly outperformed others in terms of total revenue.
- Reward top performers and provide training/support to lower-performing reps.

**Sales Channels Performance**
- Pharmacies contributed the most to total revenue, followed by Hospitals. Other channels had significantly lower performance.

# **Recommendations**
- Increase promotion of top-selling product categories

- Strengthen partnerships with pharmacies (top-performing sales channel)

- Optimize sales rep assignments based on regional performance

- Invest in training for low-performing Sales Reps and Managers

- Use sales insights to guide pricing, inventory, and expansion decisions